.main__form
  .main__form__field
    %a.file-field
      = fa_icon("plus")
<<<<<<< HEAD
    %input{placeholder: "#general へのメッセージ", "data-behavior": "channel_speaker"}
=======
    %input{placeholder: "##{@channel.name} へのメッセージ", "data-behavior": "channel_speaker"}
>>>>>>> parent of 82ba81a... Revert "Merge pull request #5 from naokada/message"
    .main__form__buttons
      %a.mention-field
        = fa_icon("at")
      %a.reaction-field
        = fa_icon("heart")
  %button{class: "main__form__send"} 送信
<<<<<<< HEAD
=======

>>>>>>> parent of 82ba81a... Revert "Merge pull request #5 from naokada/message"
