.main__form
  .main__form__field
    %a.file-field
      = fa_icon("plus")
<<<<<<< HEAD
    %input{placeholder: "##{@channel.name} へのメッセージ", "data-behavior": "channel_speaker"}
=======
    %input{placeholder: "#general へのメッセージ", "data-behavior": "channel_speaker"}
>>>>>>> parent of ed0d1d3... Merge pull request #4 from naokada/revert-3-message
    .main__form__buttons
      %a.mention-field
        = fa_icon("at")
      %a.reaction-field
        = fa_icon("heart")
  %button{class: "main__form__send"} 送信
<<<<<<< HEAD

=======
>>>>>>> parent of ed0d1d3... Merge pull request #4 from naokada/revert-3-message
