.nav__contents.nav_user
  %ul
    %li.item
      %a Set a status
    %li.item
      %a Profile & account
    %li.item
      %a Preferences
    %li.item
      %a
        Set yourself to 
        %strong
          away
    %li.item
      %a Help & feedback
    - if user_signed_in?
      %li.list_divider
      %li.item
        = button_to "Sign out", destroy_user_session_path, method: :delete, class: "button-to-link"