.user-search
	.user-search__field.flex
		#user-added.flex
		%input{id:'user-search-field', placeholder: '名前で検索する', type:'text' }
	%p このチャンネルに追加したい人(最大1000名)を選んでください。
	#user-search-result.user-search__result.hidden