.wrapper
  .left
    .left__info
      %h3 UZEMI
      = fa_icon("angle-down")
      .left__info__btn
      = fa_icon("bell")
    .left__channels
    .left__directs
    .left__apps
  .main
    .main__header
    .main__field
    .main__form

