.message.flex
	= image_tag('default_prof1.png')
	.message__contents
		.message__user
			%h4 naokada
			%p.message__time #{message.created_at}
		%p.message__text #{message.content}
	-# %p.message__notice #generalに参加しました。