.main__form
  .main__form__field
    .nav
      %a.add_file_btn
        = fa_icon("plus")
      .nav__contents.nav__contents-upper
        %ul
          %li.item
            %a Your computer
    %input{placeholder: "#{direct_name} へのメッセージ", "data-behavior": "direct_speaker"}
    .main__form__buttons
      %a.mention-field
        = fa_icon("at")
      %a.reaction-field
        = fa_icon("heart")
