
$border_cl: #E8E8E8;
$field_border_cl: #B2B2B3;
$green_cl: #008952;
$bg_gray_cl: #F8F8F8;
$link_cl: #0676B9;
$nav_selected_cl: #E5E5E5;
$header_bg_cl: #f9f9f9;
$hovered_bg_cl: #EAF5FC;
$hovered_border_cl: #CBE7F7;

// font
$font_cl: #717274;
$font_r_cl: rgb(155, 155, 155);
$font_d_cl: #1d1c1d;

// side
$side_bg_cl: #4D394B;
$side_bg_hv_cl: #3E303C;
$side_second_cl: #4C9689;
$side_second_r_cl: #56B68B;
$side_font_cl: rgb(185, 180, 185);
$side_font_sd_cl: rgb(190, 165, 187);
$side_font_h_cl: #FFFFFF;

// flash
$sky_cl: #009CE5;